html{
    font-size: 16px;
}
body{
    background-color: #000;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 480px;
    margin: auto;
}
header{
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
#page-title{
    flex: 1;
    font-weight: bold;
}
#profile-icon{
    position: relative;
    display: inline;
}
#profile-icon #profile-ball{    
    background-color: #22AD5C;
    border: 2px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 9px;
    position: absolute;
    top: 0px;
    right: 0px;
}
#notification-icon{
    position: relative;
    display: inline;
    font-size: 1.4rem;
}
#notification-ball{
    background-color: #fff;
    border: 2px solid #000;
    width: 8px;
    height: 8px;
    border-radius: 6px;
    position: absolute;
    top: 0px;
    right: -2px;
}
#menu-icon{
    display: inline;
}
#container-form-post{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    padding: 10px 5px 10px 5px;
    border-radius: 4px;
}
#container-form-post-options{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    padding: 5px;
}
#container-form-post-options-icons{
    flex: 1;
    display: flex;
    flex-direction: row;
}
#form-post{
    display: flex;
    flex-direction: column;
}
a.form-post-icon{
    color: #61646B;
    margin-right: 10px;
}
textarea{
    flex: 1;
    border-radius: 8px;
    padding: 10px;
    color: #61646B;
    font-size: 0.9rem;
}